

.title {
    text-align: center;
    margin-bottom: 20px;
}

.title h1 {
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.title i{
    margin: 0;
    font-size: 32px;
}

.todo-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 2px 10px rgb(0, 0, 0, 0.525);
    border-radius: 14px;
}

.add-task {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.add-task input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #3A86FF;
    border-radius: 14px;
    margin-right: 10px;
}

.add-task button {
    padding: 10px 15px;
    background-color: white;
    color: grey;
    border: none;
    cursor: pointer;
    border-radius: 14px;
    
}

.task-list {
    padding: 0;
}

.task-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 14px;
    box-shadow: 0px 1px 4px rgb(0, 0, 0, 0.525);    
}

.task-list button {
    padding: 5px 10px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    background-color: red;
    
}

.task-list li.completed {
    text-decoration: line-through;
    color: grey;
}

i {
    background-color: transparent;
    font-size: 18px;
}

.bi-trash3-fill {
    color: #F7F7F7;
}

.task-name {
    display: flex;
    background-color: transparent;
    text-align: left;
}